@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*Variables*/
:root {
  --background-color: #0a192f;
  --secondary-color: #37e784;
  --font-size-base: 16px;
  --spacing-unit: 8px;
  --transition-time: 0.3s;
}

body {
  background-color: var(--background-color);
  font-size: var(--font-size-base);
  font-family: 'Fira Code', monospace;
}

.header-text {
  transition: color var(--transition-time);
}

.header-text span:first-child {
  @apply font-bold;
  color: var(--secondary-color);
}

.header-text:hover {
  color: var(--secondary-color);
}

.button {
  @apply p-button-padding pl-5 pr-5 border rounded border-solid border-secondary
  bg-transparent text-secondary cursor-pointer;
}

.cta-button {
  @apply button hover:translate-x-[-4px] hover:translate-y-[-4px] hover:shadow-cta;
  transition:
    box-shadow var(--transition-time),
    transform var(--transition-time);
}
